@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
}

.main-container {
  width: 50%;
}

.info {
  margin: 0;
}

.kyc {
  width: calc(337rem / 16);
  height: 3.75rem;
  border: none;
  cursor: pointer;
  background: #e43366 url('../images/cube.svg') no-repeat 1rem / 2.5rem;
  color: #fff;
  font-size: 1.375rem;
  text-align: left;
  padding-left: 5rem;
  margin: 1.5rem 0;
}

.or {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  color: #56baaa;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.or::before {
  content: '';
  width: 1.5rem;
  border-bottom: 2px solid #56baaa;
  margin-right: 0.5rem;
}

.or::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #56baaa;
  margin-left: 0.5rem;
}

.subscribe-button {
  width: calc(337rem / 16);
  height: 3rem;
}
