@font-face {
  font-family: 'Alef Regular';
  src: url('./fonts/Alef-Regular.ttf') format('truetype');
}

* {
  font-family: 'Alef Regular';
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  display: flex;
  background: #fff;
  color: #3c3c3b;
  overflow: hidden;
}

.right,
.left {
  width: 50%;
}

.left {
  background: url('./images/logo.svg') no-repeat top 3rem right 3rem;
  position: relative;
}

.right {
  background-image: linear-gradient(
      rgba(188, 40, 75, 0.7),
      rgba(188, 40, 75, 0.7)
    ),
    url('./images/background.jpg');
  background-size: cover;
  color: #fff;
}

.heading {
  margin: calc(214rem / 16) 0 2rem 6.5rem;
  font-size: 2rem;
}

.info {
  margin-left: 6.5rem;
  font-size: 2rem;
}

.subline {
  margin-left: 6.5rem;
  font-size: 1.5rem;
}

.media-list {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}

.staticItem,
.expandableItem .label {
  font-size: 1.75rem;
  margin: 0 0 0.5rem 16rem;
  display: flex;
  align-items: center;
}

.expand {
  height: 1.5rem;
  width: 1.5rem;
  background: url('./images/chevron_down.svg') no-repeat center;
  cursor: pointer;
  margin-right: 1.5rem;
  border: none;
}

.expanded {
  background: url('./images/chevron_up.svg') no-repeat center;
}

.large {
  margin: 11rem 0 0 7rem;
  line-height: 1;
  font-size: calc(235rem / 16);
}

.tagline {
  font-size: 2rem;
  margin-left: 19rem;
}

.emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  padding: 1.5rem 0 1.5rem 0;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.credential::marker {
  color: #bb294b;
  font-size: 1.5rem;
}

.credential {
  font-family: system-ui;
  width: 70%;
  padding-left: 1.5rem;
  padding: 0 3rem 0 1.5rem;
}

.credential input {
  box-sizing: border-box;
  font-family: system-ui;
  font-size: 1.5rem;
  width: 100%;
  height: 3rem;
  border: 0.5px solid #c6c6c6;
  border-radius: 0.25rem;
  color: #1d1d1b;
  margin-bottom: 0.75rem;
  padding-left: 1.5rem;
}

.credential input::placeholder {
  opacity: 0.25;
}

.add {
  height: 3rem;
  width: 3rem;
  background: url('./images/add.svg') no-repeat center/auto;
  background-color: #977a13;
  border: none;
  border-radius: 50%;
}

.add:disabled {
  background-color: #b2b2b2;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: #eae4d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  width: 16rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  font-family: system-ui;
  font-size: 1.5rem;
  color: #fff;
  background-color: #977a13;
}

.submit:disabled {
  background-color: #d6caa0;
}
