.left {
  text-align: center;
}

.left p {
  width: 73%;
  margin-left: auto;
  margin-right: auto;
}

.confirmation {
  background: url('../images/check_success.svg') no-repeat center top;
  margin-top: calc(197rem / 16);
  padding-top: 6rem;
  font-size: 1.75rem;
}

.block {
  overflow-wrap: break-word;
  color: #bb294b;
  font-size: 1.375rem;
  padding: 0.5rem 0;
}

.prompt {
  font-size: 1.75rem;
}

.save {
  background: #977a13;
  color: #fff;
  height: 2.5rem;
  width: calc(210rem / 16);
  font-size: 1.5rem;
  border-radius: 1.25rem;
  margin-top: 1.5rem;
}
