.form {
  display: flex;
  flex-direction: column;
  margin-top: 2.25rem;
}

.formLabel {
  font-size: 0.875rem;
}

.twitterInputContainer {
  composes: input from '../../components/Input/Input.module.css';
  display: flex;
  align-items: center;
}

.twitterInputContainer::before {
  content: '@';
  font-size: 0.875rem;
}

.twitterInput {
  width: 100%;
  background: transparent;
  color: inherit;
  font-size: inherit;
  border: none;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.subline {
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}

.chooseIdentity {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  margin-top: 7rem;
}

.explainer {
  composes: explainer from '../../components/Explainer/Explainer.module.css';
}

.statusContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(var(--color-magenta-secondary-rgb) / 50%);
  color: var(--color-light);
  position: relative;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.heading {
  margin: 0;
  font-size: 1rem;
}

.status {
  composes: heading;
  font-style: italic;
}

.spinner {
  composes: spinner from '../../components/Spinner/Spinner.module.css';
  width: 2rem;
  height: 2rem;
  top: 0.75rem;
  right: 1rem;
  left: auto;
  transform: none;
}

.tweetContainer {
  composes: input from '../../components/Input/Input.module.css';
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 5.5rem;
  padding: 0.5rem;
}

.tweetInput {
  flex: 1 1 auto;
  height: 100%;
  background: transparent;
  color: inherit;
  font-size: inherit;
  border: none;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.ready {
  composes: checkmark from '../../components/Checkmark/Checkmark.module.css';
}

.cta {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  margin: 0 auto;
  display: block;
}
