.input {
  font-size: 0.875rem;
  display: block;
  width: 85%;
  height: 2.125rem;
  border: 1px solid var(--color-light);
  border-radius: 0.625rem;
  background: rgb(187 41 75 / 35%);
  color: var(--color-white);
  box-shadow:
    2px 2px 4px 0 rgb(var(--color-black-rgb) / 30%),
    -2px -2px 4px 0 rgb(var(--color-white-rgb) / 30%);
  margin-bottom: 1.25rem;
  margin-top: 0.25rem;
  padding: 0 0.5rem;
}
