@font-face {
  font-family: 'Overpass Semibold';
  src: url('Overpass-SemiBold.ttf');
}

:root {
  font-family: 'Overpass Semibold', Arial, sans-serif;
  font-size: 16px;
  color: var(--color-white);
}
