.accordion {
  composes: button from '../Button/Button.module.css';
  height: 1.25rem;
  width: 1.25rem;
  background: url('chevron-down.svg') no-repeat center/contain #180026;
  margin-right: 0.5rem;
  border: 0.75px solid var(--color-white);
  border-radius: 0.25rem;
}

.closed {
  composes: accordion;
  transform: rotate(-90deg);
}
