@import 'styles.css';

.leftContainer section {
  margin-bottom: 5rem;
}

.leftContainer h1,
.leftContainer h2 {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: normal;
}

.leftContainer a,
.leftContainer a:active,
.leftContainer a:visited {
  color: inherit;
}

figure {
  margin-inline: 0;
}

figure img {
  vertical-align: bottom;
}

figcaption {
  padding-block: 0.5rem;
}

#about img {
  display: block;
  margin: auto;
  box-shadow: 2px 2px 2px 0 rgb(var(--color-black-rgb) / 30%);
  max-width: 100%;
}
