/* Cannot really use body, as it is stripped, so need a container. */

/* Even the `header` tag is dropped, have to use the most basic tags. Selectors can only be classes. */

html,
.body,
.container {
  margin: 0;
  padding: 0;
  background: #26003b;
  color: white;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}

/* Have to increase the selector specificity for links color in particular */
.body .container .anchor,
.body .container .anchor:visited,
.body .container .anchor:active {
  color: white;
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.header {
  text-align: right;
  padding: 0.5rem 1.5rem 0.5rem 0;
}

.main {
  border-radius: 15px;

  /* Absolutely position the image for header, because the header cannot have negative margin in webmails */
  background:
    url('../views/Attester/email.png') no-repeat left -10rem top 2.125rem/2.375rem,
    #3a1a4c url('../images/background-email.svg') no-repeat center bottom;
  padding: 2rem;
  font-size: 0.875rem;
}

.h1 {
  margin: 0;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.para {
  margin: 2rem 0;
}

.first {
  margin-top: 1.5rem;
}

.confirm {
  text-align: center;
}

.body .container .confirmLink {
  display: inline-block;
  margin: auto;
  padding: 0.375rem 3rem;
  border-radius: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #e43366;
}

.small {
  display: block;
  margin-top: 5rem;
  font-size: 0.625rem;
}

.body .container .small .anchor {
  color: white;
}

/* Media queries must go last, because Outlook parser chokes on them */

@media (width >= 400px) {
  .header {
    padding: 1.5rem 1.5rem 1rem 0;
  }

  .main {
    padding-left: 4rem;
    padding-right: 4rem;
    background-position:
      left 1.25rem top 2.125rem,
      center bottom;
  }
}

@media (width >= 480px) {
  .header {
    padding: 3rem 1.5rem 2rem 0;
  }

  .main {
    padding-left: 6rem;
    padding-right: 6rem;
    background-position:
      left 3.25rem top 2.125rem,
      center bottom;
  }
}
