.link {
  display: block;
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding-left: 1rem;
  background: url('chevron-left.svg') no-repeat left top/0.75rem;
  color: inherit;
}
