.accordion {
  composes: accordion from '../../components/Accordion/Accordion.module.css';
}

.closed {
  composes: closed from '../../components/Accordion/Accordion.module.css';
}

.buttonPrimary {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.expandableItem {
  composes: expandableItem from '../../components/Expandable/Expandable.module.css';
}

.expanded {
  composes: expanded from '../../components/Expandable/Expandable.module.css';
}

.chooseIdentity {
  composes: buttonPrimary;
  margin: 4rem 0 4rem 0;
}

.itemLabel {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2.25rem;
}

.formLabel {
  font-size: 0.875rem;
}

.formInput {
  composes: input from '../../components/Input/Input.module.css';
}

.success {
  text-align: center;
}
