.container {
  position: relative;
  margin-left: 2.75rem;
  margin-right: 3rem;
}

.heading {
  margin: 0 0 2.5rem -2.75rem;
  padding-left: 2.75rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: normal;
}

.processing {
  composes: processing from '../processing/processing.module.css';
}

.explainer {
  composes: explainer from '../Explainer/Explainer.module.css';
}

.ctaLine {
  text-align: center;
}

.ctaLink {
  composes: buttonPrimary from '../Button/Button.module.css';
}

.ctaButton {
  composes: buttonPrimary from '../Button/Button.module.css';
  display: block;
  margin: 2.5rem auto 2rem;
}
